#root {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 2rem;
  text-align: center;
  background: transparent; 
}

.card {
  padding: 2em;
  background: linear-gradient(135deg, #0d0d0d 0%, #1a1a1a 100%); /* Semi-transparent background for better readability */
  border-radius: 10px;
  backdrop-filter: blur(10px);
}
